
footer {
    color: white;
    img {
        width: 15rem;
    }

    .items-footer {
    background-color: var(--raisin-black);
        display: flex;
        justify-content: space-between;
        padding: 8rem 2rem ;
        -webkit-mask: url(../../assets/images/jpg/bg-content-vector.svg);
        mask-image: url(../../assets/images/jpg/bg-content-vector.svg);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: cover;
        -webkit-mask-size: cover;
        margin-top: -200px;
        z-index: 1000;

        .container-text-items {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            gap: 2rem;
            padding-right: 5rem;
        }
        a {
            color: white;
            text-decoration: none;
            font-family: "Barlow Condensed", sans-serif;
            font-size: 1.6rem;
            cursor: pointer;
        }
        
    }

    .copyrights {
        display: flex;
        gap: 2rem;
        padding: 2rem 1rem;
        justify-content: center;
        align-items: center;
        background-color: var(--soft-black);
        font-family: 'Keep Cheese';
        p {
            color: rgba(255, 255, 255, 0.408);
        }

    }
}