// creation du responsive de la page creé dans une seul page pour ne pas ajouter trop des dossiers
// responsive page d'acceuil
/* Mobile - petit téléphone */
@media (max-width: 480px) {

    header a {
        justify-content: end;

        img {
            width: 7rem;
        }
    }
    .nav-bar-index {
        margin-left: 0;
        align-items: center;
        font-size: 3rem;
    }

    .container-nav-bar {
        padding-bottom: 6em;
        height: 50vh;
    }

    .comida-calle-child {

        h2 {
            font-size: 2rem;
        }

        .ombre-text {
            -webkit-text-stroke: calc(40vw / var(--context)) var(--bittersweet);
        }

        p {
            width: 70%;
            font-size: calc(0.2rem + 1vw + 0.5rem);
        }

        img {
            width: 50%;
        }
    }
    
    .parrot {

        img {
            top: 44vh;
        }
    }

    .item1 {
        h2 {
            font-size: 2rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }

    .rum-container {
        display: flex;
        flex-direction: column;

        .item2 {

        margin-top: 5rem;

            img {
                width: 100%;
                transform: rotate(53deg);
                margin-right: 20rem;
            }
        } 

        .item3 {
            margin-top: -20em;
        }

        .item4 {
            margin-top: -10em;

            img {
                width: 100%;
                transform: rotate(43deg);
            }
        }

        .item5 {
            margin-bottom: 5em;
            img {
                width: 100%;
            }
        }
    }

    .fruits-container {

        padding: 10vh 0;
    }

    .announce-line {

        img {
            width: 20px;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

/* Mobile - téléphone standard */
@media (max-width: 768px) { /* Styles */ }

/* Tablette */
@media (min-width: 769px) and (max-width: 1024px) { /* Styles */ }

/* Ordinateurs portables */
@media (min-width: 1025px) and (max-width: 1200px) { /* Styles */ }

/* Ordinateurs de bureau standards */
@media (min-width: 1201px) and (max-width: 1600px) { /* Styles */ }

/* Grands écrans */
@media (min-width: 1601px) { /* Styles */ }
