
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar-rums {
    width: 100%;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    z-index: 100;
    ul  {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            align-self: flex-end;
            background-color: black;
            width: 2px;
            height: 2rem;
        }

        a {
            font-size: calc(0.1vw + 2vh + 1vmin );
        }

        a:hover {
            color: var(--camel) ;
        }
    }
}

header {

    a {
        justify-content: center;
    }
}



.home {
    display: flex;
    height: 130vh;
    background: linear-gradient(to top, #fbedd2 30%, #dbbd86);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.rum-image1 {
    width: 30% !important;
    left: 70%;
}

.rum-image2 {
    width: 30% !important;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Keep Cheese';
    text-transform: uppercase;
    font-size: calc(3vw + 2vh + 0.5vw);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
    padding: 20rem 10rem;
    background: var(--camel);
    color: white;
    position: relative;
}
.about h1 {
    font-size: 40px;
}

.rums-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40rem;
        height: 40rem;
        object-fit: contain;
    }
}

.bg-color {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--orange-web);
    border-radius: 50%;
}

