// importation des fichiers SCSS
@use '_menu.scss';
@use '_description.scss';
@use '_rums.scss';
@use '_fruits.scss';
@use '_transit-line.scss';
@use '_recipies.scss';
@use '_footer.scss';

// recipes page import 
@use '_recipes-page.scss';

// rums page import 
@use '_rums-page.scss';

// fruits page import 
@use '_fruits-page.scss';

// importation des fonts
@font-face {
    font-family: 'Jackpot';
    src: url(../../assets/fonts/Jackpot.ttf) format('ttf');
}

@font-face {
    font-family: 'Keep Cheese';
    src: url(../../assets/fonts/Keep\ Cheese.ttf) format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	
	// tailler de la page 
	--context: 14.4;
	
	// creation couleurs
	--verdigris: #17bebbff;
	--raisin-black: #2e282aff;
	--kelly-green: #76b041ff;
	--soft-black: #1D1C1C;
	--bittersweet: #eb5e55ff;
	--orange-web: rgba(246, 170, 28, 0.8);
	--camel : #a97514;
}





// reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: var(--raisin-black);}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
html {
	scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-family: 'jackpot', sans-serif;
	font-size: 4rem;
	color: var(--raisin-black);
}

h3 {
	font-family: '', sans-serif;
	font-size: 3rem;
	color: var(--raisin-black);
}

h4 {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 3rem;
	color: white
}

// buttons 
button {
	text-decoration: none;
	background-color: var(--verdigris);
	color: white;
	text-transform: uppercase;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
    font-family: 'Keep Cheese';
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gap {
	gap: 0 20rem ;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	
}


.wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 20rem;
}