@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200;300;400;500;600;700;800&display=swap");
.container-nav-bar {
  background-color: var(--orange-web);
  width: 100%;
  height: 100vh;
}

.backgroun-clip {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .backgroun-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .backgroun-clip {
    width: auto;
    height: 100%;
  }
}
header a {
  display: flex;
  justify-content: center;
}
header a img {
  width: 10rem;
}

nav ul {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 90px;
  font-size: calc(5rem + 1vw + 0.5rem);
  font-family: "Caveat", sans-serif;
}
nav ul a {
  text-decoration: none;
  color: var(--raisin-black);
  transition: transform 0.3s ease, color 0.3s ease;
}
nav ul a:hover {
  color: var(--kelly-green);
}

.nav-bar-index {
  margin-left: 10rem;
}

.comida-calle-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: var(--bittersweet);
  padding: 17vw 6vw;
}

.comida-calle-child {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}
.comida-calle-child .title {
  position: relative;
}
.comida-calle-child h2 {
  position: relative;
  width: 110vw;
  font-size: 15rem;
  z-index: 3;
}
.comida-calle-child .ombre-text {
  -webkit-text-stroke: calc(20vw / var(--context)) var(--bittersweet);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.comida-calle-child p {
  font-size: calc(1rem + 2vw + 0.5rem);
  font-family: "Barlow Condensed", sans-serif;
  width: 50vw;
}
.comida-calle-child img {
  object-fit: cover;
  width: 40vw;
  border-radius: 20px;
}

.comida-calle-child-two {
  position: relative;
}
.comida-calle-child-two img:nth-child(1) {
  width: 77vw;
  position: absolute;
  top: -53vw;
  left: -92vw;
  border-radius: 20px;
}
.comida-calle-child-two img:nth-child(2) {
  width: 25vw;
  position: absolute;
  top: -10vw;
  left: -50vw;
  border-radius: 20px;
}

.parrot {
  position: relative;
}
.parrot img {
  width: 41vw;
  position: absolute;
  top: 68vh;
  left: -118vw;
  transform: scaleX(-1);
}

.rum-container {
  position: relative;
  display: grid;
  grid-template-areas: "header header header header" "item2 item3 item4 item5";
  place-content: center;
  gap: 15vh 0;
  padding: 10vh 7vh;
  background-color: var(--orange-web);
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  grid-area: header;
  justify-self: center;
  align-self: center;
}
.item1 p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.item2 {
  grid-area: item2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.item3 {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20em;
}
.item3 h3 {
  margin-top: 2rem;
}
.item3 img {
  transform: rotate(-10deg);
}

.item4 {
  grid-area: item4;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.item4 h3:nth-of-type(1) {
  margin-top: 3rem;
}
.item4 img {
  transform: rotate(10deg);
}

.item5 {
  grid-area: item5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.background-rum-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background-rum-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-rum-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.fruits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #76B041;
  -webkit-mask: url(../../assets/images/jpg/bg-content-vector.svg);
  mask-image: url(../../assets/images/jpg/bg-content-vector.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  gap: 5rem;
  padding: 30vh 7vh;
  margin-top: -300px;
}
.fruits-container p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.fruits-items {
  display: grid;
  grid-template-areas: "tomatoes sapote papaya guanavana" "guanavana  watermelon watermelon freijoa" "dragon pepino mamoncillo cape";
  z-index: 3;
  margin: 0;
  gap: 5rem 0;
}
.fruits-items p {
  color: bisque;
}

.tomatoes {
  grid-area: tomatoes;
  position: relative;
  justify-self: center;
  align-self: center;
}
.tomatoes img {
  width: 80%;
}
.tomatoes svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.sapote {
  grid-area: sapote;
  position: relative;
  justify-self: center;
  align-self: center;
}
.sapote img {
  width: 80%;
}
.sapote svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.papaya {
  grid-area: papaya;
  position: relative;
  justify-self: center;
  align-self: center;
}
.papaya img {
  width: 80%;
}
.papaya svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.guanavana {
  grid-area: guanavana;
  position: relative;
  justify-self: center;
  align-self: center;
}
.guanavana img {
  width: 80%;
}
.guanavana svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.banana {
  grid-area: bananapassion;
  position: relative;
  justify-self: center;
  align-self: center;
}
.banana img {
  width: 80%;
}
.banana svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.watermelon {
  width: 20%;
  grid-area: watermelon;
  position: relative;
  justify-self: center;
  align-self: center;
}

.freijoa {
  grid-area: freijoa;
  position: relative;
  justify-self: center;
  align-self: center;
}
.freijoa img {
  width: 80%;
}
.freijoa svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.dragon {
  grid-area: dragon;
  position: relative;
  justify-self: center;
  align-self: center;
}
.dragon img {
  width: 80%;
}
.dragon svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.pepino {
  grid-area: pepino;
  position: relative;
  justify-self: center;
  align-self: center;
}
.pepino img {
  width: 80%;
}
.pepino svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.mamoncillo {
  grid-area: mamoncillo;
  position: relative;
  justify-self: center;
  align-self: center;
}
.mamoncillo img {
  width: 80%;
}
.mamoncillo svg {
  opacity: 0.5;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.cape {
  grid-area: cape;
  position: relative;
  justify-self: center;
  align-self: center;
}
.cape img {
  width: 80%;
}
.cape svg {
  opacity: 0.5;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.announce-line {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  background-color: var(--orange-web);
}
.announce-line img {
  width: 80px;
  transform: rotate(90deg);
}
.announce-line p {
  font-family: "Keep Cheese", sans-serif;
  font-size: 2rem;
  color: var(--raisin-black);
}

.recipies-container {
  background-color: var(--bittersweet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 8rem;
}
.recipies-container img {
  width: 500px;
}
.recipies-container .recipes-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.recipies-container .recipes-text p {
  width: 40rem;
  font-size: 2rem;
}
.recipies-container .recipes-text button {
  margin-left: 40rem;
}
.recipies-container .text-bas {
  width: 40rem;
  margin: 90px 0 90px 0;
  align-self: flex-end;
  font-family: "Mukta Vaani";
  font-size: 2rem;
}

.container-images {
  display: grid;
  gap: 2rem;
}
.container-images .items {
  display: flex;
  gap: 2rem;
}
.container-images .items img {
  object-fit: cover;
}
.container-images .items img:nth-child(1) {
  width: 30%;
  height: 20rem;
  border-radius: 20px;
  margin-top: 10rem;
}
.container-images .items img:nth-child(2) {
  width: 40%;
  height: 30rem;
  border-radius: 20px;
}
.container-images .items img:nth-child(3) {
  width: 20%;
  height: 20rem;
  border-radius: 20px;
  margin-top: 10rem;
}
.container-images .items img:nth-child(4) {
  width: 20%;
  border-radius: 20px;
}
.container-images .items-2 {
  display: flex;
  gap: 2rem;
}
.container-images .items-2 img {
  object-fit: cover;
}
.container-images .items-2 img:nth-child(1) {
  width: 25%;
  height: 26rem;
  border-radius: 20px;
}
.container-images .items-2 img:nth-child(2) {
  width: 25%;
  height: 40rem;
  border-radius: 20px;
}
.container-images .items-2 img:nth-child(3) {
  width: 25%;
  height: 40rem;
  border-radius: 20px;
}
.container-images .items-2 img:nth-child(3) {
  width: 30%;
  height: 30rem;
  border-radius: 20px;
}
.container-images .items-2 img:nth-child(4) {
  width: 60%;
  height: 30rem;
  border-radius: 20px;
}

footer {
  color: white;
}
footer img {
  width: 15rem;
}
footer .items-footer {
  background-color: var(--raisin-black);
  display: flex;
  justify-content: space-between;
  padding: 8rem 2rem;
  -webkit-mask: url(../../assets/images/jpg/bg-content-vector.svg);
  mask-image: url(../../assets/images/jpg/bg-content-vector.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  margin-top: -200px;
  z-index: 1000;
}
footer .items-footer .container-text-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 5rem;
}
footer .items-footer a {
  color: white;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
}
footer .copyrights {
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--soft-black);
  font-family: "Keep Cheese";
}
footer .copyrights p {
  color: rgba(255, 255, 255, 0.408);
}

.body-recipes {
  background-color: var(--bittersweet);
}

.nav-bar-recipes ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar-recipes ul div {
  align-self: flex-end;
  background-color: var(--raisin-black);
  width: 2px;
  height: 2rem;
}
.nav-bar-recipes ul a {
  font-size: calc(0.1vw + 2vh + 1vmin);
}

.container-recipes {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.container-recipes h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 40em);
  grid-template-rows: repeat(2, 40em);
  gap: 2rem;
  padding: 2em 6rem 0 20rem;
}
.grid-container .image-png {
  width: 100%;
  height: 100%;
  background-color: var(--kelly-green);
  border-radius: 12px;
  gap: 50px;
}
.grid-container .image-png img {
  width: 80%;
  height: 50%;
  padding: 20px 10px;
}
.grid-container .image-png h3 {
  color: aliceblue;
  margin-bottom: 20px;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.grid-container .text-container {
  gap: 50px;
}
.grid-container .text-container h3 {
  text-align: center;
  color: aliceblue;
}
.grid-container .text-container p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
}

.grid-container-right {
  display: grid;
  grid-template-columns: repeat(2, 40em);
  grid-template-rows: repeat(2, 40em);
  gap: 2rem;
  padding: 2rem 20rem 0 6rem;
  margin-left: auto;
}
.grid-container-right .image-png {
  width: 100%;
  height: 100%;
  background-color: var(--kelly-green);
  border-radius: 12px;
  gap: 50px;
}
.grid-container-right .image-png img {
  width: 33rem;
  padding: 20px 10px;
  object-fit: contain;
}
.grid-container-right .image-png h3 {
  color: aliceblue;
  margin-bottom: 20px;
}
.grid-container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.grid-container-right .text-container {
  gap: 50px;
}
.grid-container-right .text-container h3 {
  text-align: center;
  color: aliceblue;
}
.grid-container-right .text-container p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
}

.margin-button {
  margin-bottom: 15em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar-rums {
  width: 100%;
  height: 100px;
  padding: 0 5%;
  position: absolute;
  z-index: 100;
}
.nav-bar-rums ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar-rums ul div {
  align-self: flex-end;
  background-color: black;
  width: 2px;
  height: 2rem;
}
.nav-bar-rums ul a {
  font-size: calc(0.1vw + 2vh + 1vmin);
}
.nav-bar-rums ul a:hover {
  color: var(--camel);
}

.home {
  display: flex;
  height: 130vh;
  background: linear-gradient(to top, #fbedd2 30%, #dbbd86);
  position: relative;
  overflow: hidden;
}

.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.rum-image1 {
  width: 30% !important;
  left: 70%;
}

.rum-image2 {
  width: 30% !important;
}

.home .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Caveat";
  text-transform: uppercase;
  font-size: calc(2vw + 3vh + 0.5vw);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
  padding: 20rem 10rem;
  background: var(--camel);
  color: white;
  position: relative;
}

.about h1 {
  font-size: 40px;
}

.rums-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rums-items img {
  width: 40rem;
  height: 40rem;
  object-fit: contain;
}

.bg-color {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--orange-web);
  border-radius: 50%;
}

.bg-body {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/jpg/bg-jungle.jpg) no-repeat center center/cover;
  overflow: hidden;
}

.nav-bar-fruit {
  width: 100%;
  padding: 0 5%;
  position: relative;
  z-index: 100;
}
.nav-bar-fruit ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar-fruit ul div {
  align-self: flex-end;
  background-color: black;
  width: 2px;
  height: 2rem;
}
.nav-bar-fruit ul a {
  font-size: calc(0.1vw + 2vh + 1vmin);
}
.nav-bar-fruit ul a:hover {
  color: var(--camel);
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(118, 176, 65, 0.7);
  backdrop-filter: blur(10px);
}

.caroussel {
  height: 50%;
  z-index: 2;
}
.caroussel .list {
  position: absolute;
  top: 30%;
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  height: 80%;
  left: 50%;
  transform: translatex(-50%);
}
.caroussel .list .item {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  font-size: 1rem;
}
.caroussel .list .item h3 {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 5rem;
  color: aliceblue;
  font-family: "Bentham";
  text-transform: uppercase;
  z-index: -1;
}
.caroussel .list .item:nth-child(2) h3 {
  opacity: 1;
}
.caroussel .list .item img {
  width: 20vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.caroussel .list .item .detail {
  padding-left: 0;
  opacity: 0;
  pointer-events: none;
  animation: showContent 0.5s 0.8s ease-in-out 1 forwards;
}
@keyframes showContent {
  from {
    transform: translateY(50px);
    filter: blur(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
.caroussel .list .item .detail .introduce {
  position: absolute;
  transform: translateY(50%);
  width: 40vw;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.caroussel .list .item .detail .introduce p:nth-child(1) {
  font-size: 1.3em;
  font-family: "Mukta Vaani", sans-serif;
}
.caroussel .list .item .detail h4 {
  font-family: "Bentham";
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  top: 35rem;
  left: 85%;
}
.caroussel .list .item:nth-child(n+14) {
  opacity: 0;
  pointer-events: none;
}
.caroussel .list .item:nth-child(1) {
  transform: translate(-100%, -5%) scale(1.5);
  filter: blur(30px);
  opacity: 0;
  z-index: 11;
  pointer-events: none;
  animation: positionItem2 0.5s ease-in-out 1 forwards;
}
@keyframes positionItem2 {
  from {
    transform: translate(0, 0);
    filter: blur(0);
    z-index: 10;
    opacity: 1;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(2) {
  transform: translate(0, 0);
  filter: blur(0);
  z-index: 10;
  opacity: 1;
  pointer-events: none;
  animation: positionItem3 0.7s ease-in-out 1 forwards;
}
@keyframes positionItem3 {
  from {
    transform: translate(50%, 10%) scale(0.8);
    filter: blur(60px);
    z-index: 12;
    opacity: 0;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(3) {
  transform: translate(50%, 10%) scale(0.8);
  filter: blur(60px);
  z-index: 12;
  opacity: 0;
  pointer-events: none;
  animation: positionItem4 0.9s ease-in-out 1 forwards;
}
@keyframes positionItem4 {
  from {
    transform: translate(50%, 10%) scale(0.8);
    filter: blur(10px);
    opacity: 1;
    z-index: 3;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(4) {
  transform: translate(50%, 10%) scale(0.8);
  filter: blur(10px);
  opacity: 1;
  z-index: 3;
  pointer-events: none;
  animation: positionItem5 1.1s ease-in-out 1 forwards;
}
@keyframes positionItem5 {
  from {
    transform: translate(90%, 20%) scale(0.5);
    filter: blur(30px);
    opacity: 1;
    z-index: 4;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(5) {
  transform: translate(90%, 20%) scale(0.5);
  filter: blur(30px);
  opacity: 1;
  z-index: 4;
  pointer-events: none;
  animation: positionItem6 1.5s ease-in-out 1 forwards;
}
@keyframes positionItem6 {
  from {
    transform: translate(120%, 30%) scale(0.3);
    filter: blur(40px);
    opacity: 1;
    z-index: 5;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(6) {
  transform: translate(120%, 30%) scale(0.3);
  filter: blur(40px);
  opacity: 1;
  z-index: 5;
  pointer-events: none;
  animation: positionItem7 1.9s ease-in-out 1 forwards;
}
@keyframes positionItem7 {
  from {
    transform: translate(130%, 40%) scale(0.3);
    filter: blur(50px);
    opacity: 1;
    z-index: 7;
    pointer-events: none;
  }
}
.caroussel .list .item:nth-child(7) {
  transform: translate(130%, 40%) scale(0.3);
  filter: blur(50px);
  opacity: 1;
  z-index: 7;
  pointer-events: none;
}
.caroussel .list .item:nth-child(8) {
  transform: translate(140%, 50%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 8;
  pointer-events: none;
}
.caroussel .list .item:nth-child(9) {
  transform: translate(150%, 60%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 9;
  pointer-events: none;
}
.caroussel .list .item:nth-child(10) {
  transform: translate(160%, 70%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 10;
  pointer-events: none;
}
.caroussel .list .item:nth-child(11) {
  transform: translate(170%, 80%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 11;
  pointer-events: none;
}
.caroussel .list .item:nth-child(12) {
  transform: translate(180%, 90%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 12;
  pointer-events: none;
}
.caroussel .list .item:nth-child(13) {
  transform: translate(190%, 100%) scale(0.3);
  filter: blur(60px);
  opacity: 1;
  z-index: 13;
  pointer-events: none;
}

.arrows {
  width: 100%;
  max-width: 80%;
  position: absolute;
  left: 50%;
  bottom: 3%;
  align-items: center;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrows #prev,
.arrows #next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40px;
  border-radius: 50%;
  font-family: monospace;
  border: 1px solid rgba(85, 85, 85, 0.3333333333);
  font-size: large;
  bottom: 20%;
  left: 10%;
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

.item .bg-radius:nth-child(3) {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  opacity: 0.3;
}

.bg-radius {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.1;
}

.container-fruit {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateX(50%);
}

:root {
  --context: 14.4;
  --verdigris: #17bebbff;
  --raisin-black: #2e282aff;
  --kelly-green: #76b041ff;
  --soft-black: #1D1C1C;
  --bittersweet: #eb5e55ff;
  --orange-web: rgba(246, 170, 28, 0.8);
  --camel: #a97514;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--raisin-black);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Caveat", sans-serif;
}

h2 {
  font-family: "caveat", sans-serif;
  font-size: 6rem;
  color: var(--raisin-black);
}

h3 {
  font-family: "caveat", sans-serif;
  font-size: 3rem;
  color: var(--raisin-black);
}

h4 {
  font-family: "Bentham", sans-serif;
  font-size: 3rem;
  color: white;
}

p {
  font-family: "Mukta Vaani", sans-serif;
}

span {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

button {
  text-decoration: none;
  background-color: var(--verdigris);
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-family: "Bentham";
  margin-top: 2rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 0 20rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
}

/*# sourceMappingURL=style.css.map */
